:root {
  --white: #ffffff;
  --black: #000000;
  --l_purple: #561997;
  --purple: #2E134A;
  --d_purple: #16002b;
  --max_page_width: 500px;
}

html, body {
  /* background: linear-gradient(to right, #130521, #240a40, #130521); */
  background-color: var(--d_purple);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  background: linear-gradient(to bottom, var(--l_purple), var(--d_purple));
  min-height: 100vh;
  max-width: var(--max_page_width);
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 100px #000;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 45px 15px 50px 15px;
  align-items: center;
  color: var(--white);
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

@media (max-width: 400px) {
  section {
    width: 90%
  }
}

.page_header {
 width: 80%;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 15px;
}

.page_header h1 {
  font-weight: 500;
  font-size: 35px;
  margin: 0;
  text-shadow: 0 5px 5px #000a;
}

.profile_picture {
  width: 20%;
  min-width: 60px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 5px 20px var(--d_purple);
}

.latest_release_section {
  text-align: center;
  font-weight: 300;
}

.latest_release_image {
  width: 150px;
  max-width: 60%;
  height: auto;
  margin-bottom: 15px;
  box-shadow: 0 5px 20px var(--d_purple);
}

.latest_release_section p {
  margin: 0
}

.latest_release_main_text {
  font-size: 18px;
  text-decoration: underline;
  line-height: 1.5;
}

.latest_release_secondary_text {
  font-size: 13px;
}

.links_section h3 {
  font-weight: 400;
  font-size: 22px;
}

.links_list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all .5s;
  list-style-type: none;
  overflow: hidden;
}

.link {
  position: relative;
  border: none;
  width: 100%;
  height: 48px;
  padding: 12px 6px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 48px;
  transition: all .3s;
}

.link:hover {
  translate: 0 -2.5px;
  box-shadow: 0 20px 10px -20px #000c;
}

.link span {
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 600;
  color: var(--white);
  transition: all .3s;
}

.link:hover span {
  text-shadow: 0 5px 5px #000a;
}

.link img {
  position: absolute;
  height: 38px;
  width: auto;
  float: left;
  transition: all .3s;
}
